#============================================================================================
#   COMP 7051 Assignment 02 .gitignore
#	
#	Erick Fernandez de Arteaga - https://www.linkedin.com/in/erickfda
#	Version 0.1.0
#	
#============================================================================================

#============================================================================================
#   OS Files
#============================================================================================
._*
.DS_Store*
.Spotlight-V100
.Trashes

[Dd]esktop.ini
ehthumbs.db
[Tt]humbs.db

#============================================================================================
#   Unity Files
#============================================================================================
COMP7051_Asg02/[Bb]uild/
COMP7051_Asg02/[Ll]ibrary/
COMP7051_Asg02/[Oo]bj/
COMP7051_Asg02/[Tt]emp/

*.stackdump

sysinfo.txt
 
#============================================================================================
#   Visual Studio, MonoDevelop, and Rider Files
#============================================================================================
COMP7051_Asg02/[Ee]xported[Oo]bj/
COMP7051_Asg02/.idea*/
COMP7051_Asg02/.vs/

*.booproj
*.csproj
*.pidb
*.sln*
*.suo
*.unityproj
*.user
*.userprefs
